@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Source Sans 3", sans-serif;
}

.top-bar {
  position: relative;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 999;
  height: 40px;
}

.topnav-link {
  vertical-align: baseline;
  display: inline;
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  padding: 0 8px;
  line-height: 40px;

  font-size: 16px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  box-sizing: border-box;
  border-bottom: 6px solid transparent;
  position: relative;
}
.active {
  border-bottom: 6px #fff solid;
  padding-bottom: 6px;
}

.input-group {
  width: 10% !important;
}
.anticon-search {
  background: #0056d2;

  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
}
.anticon svg {
  width: 30px !important;
}
.nav-links li:hover {
  color: #0056d2;
}
.nav-links li {
  font-size: 14px;
}
.navbarInput {
  width: 485px;
}
.sec-nav {
  display: none;
}
.main-nav {
  display: flex;
}
.togglebox a {
  font-size: 14px;
  color: #000;
}
@media (max-width: 991px) {
  .main-nav {
    display: none;
  }
  .sec-nav {
    display: flex;
  }
  .top-bar {
    display: none;
  }

  .navbar-toggler {
    border: none;
    color: #000;
  }
  .navbar-toggler:focus {
    border: none;
    box-shadow: none;
  }
  .sec1 {
    display: none;
  }
  .sec1-small {
    display: flex !important;
  }
  .img-box {
    display: none !important;
  }
  .img-box-small {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .last-nav {
    margin-left: 100px;
  }
}
@media (max-width: 1400px) {
  .navbarInput {
    width: 300px;
  }
}

/* sections */

.sec1-small {
  display: none;
}
.underline:hover {
  border-bottom: 2px solid #0056d2;
}

.img-box {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  max-width: 1132px;
  padding: 0px 10px;
  width: 100%;
  flex-wrap: wrap;
}

.img-box-small {
  display: none;
}

.rowlin img{
  width: 80px;
  margin: 5px;
 
}

.css-1xho1ph-JoyTab-root.Mui-selected {
  background-color: #fff !important;
  border: none !important;
}
.css-1xho1ph-JoyTab-root.Mui-selected:hover{
  border-bottom: 2px solid #0056d2 !important;
} 


.input-div {
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: 600;
  background: #F1F2F3;
}
.input-div2{
  background-color: #341285;
        padding: 6px 8px;
        border-radius: 4px;
        width: 70%;
        color: #fff;
        font-size: 16px;
}

.box3{
  border-top: 1px solid #F1F2F3;
    margin-top: 25px;
    margin-right: 55px;
    padding-top: 20px;
    font-size: 14px;
}